
.cabecera{
width: 33.235vw;
height: 144px;
margin-top: 35px;
margin-bottom: 35px;
}

.principal{
width: 49.926vw;
height: 453px;
}

.description{
width: 33.015vw;
height: 453px;
margin-left: 3.309vw;
margin-right: 2.941vw;
}

main{
display:flex;
}

.description h1{
color: #000;
font-family: "Roboto";
font-size: 50px;
font-style: normal;
font-weight: 500;
line-height: 66px;
letter-spacing: 1px;
}

.azules{
color: #009EE0;
}

.description p{
color: #091133;
font-family: "Roboto";
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
}

form{
display: flex;
flex-wrap: wrap;
margin-top: 9.4vw;
}

.gris{
background-color:#9c9c9c;
width: 20.92vw;
height: 36px;
}

.box button{
color: #009EE0;
font-family: "Roboto";
font-size: 14px;
font-style: normal;
font-weight: 300;
line-height: 18px;
letter-spacing: 0.1px;
padding: 10px;
margin-left: 0.992vw;
}

.box{
width: 10.441vw;
height: 42px;
}

.description ul{
width: 33.015vw;
display: flex;
flex-wrap: wrap;    
}

.description ul li{
list-style-type: none;
}

.simble{
margin-top: 4.044vw;
margin-bottom: 4.044vw;
}

.opcion{
 display: flex;
 justify-content: space-around; 
 margin-top: 4.044vw; 
}

.pulsar{
width: 1.618vw;
height: 1.618vw;
}

label{
color: #000;
font-family: "Roboto";
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.iconos{
width: 6.618vw;
height: 63px;
}

.simble h2{
color: #091133;
text-align: center;
font-family: "Roboto";
font-size: 36px;
font-style: normal;
font-weight: 500;
line-height: 48px; 
}

.convidats h2{
    color: #091133;
    text-align: center;
    font-family: "Roboto";
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 48px; 
    }

    .serie h2{
        color: #091133;
        text-align: center;
        font-family: "Roboto";
        font-size: 36px;
        font-style: normal;
        font-weight: 500;
        line-height: 48px; 
        }


.opcion h4{
margin-top: 4.059vw;
margin-bottom: 2.941vw;
}

.convidads{
margin: 2.353vw;
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
}


#cards p{
color: #091133;
text-align: center;
font-family: "Roboto";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 20px;
}

.convidats h5{
color: #000;
text-align: center;
font-family: "Roboto";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px;
}


#cards{
display: flex;
flex-wrap: wrap;
gap:1.471vw;
justify-content: space-around;
margin-top: 5.882vw;
}

#cards h3{
color: #091133;
text-align: center;
font-family: "Roboto";
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 26px;
}

#cards button{
color: #091133;
text-align: right;
font-family: "Roboto";
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 26px;
margin-top: 20px;
}

#cards article{
width: 27.167vw;
height: 444px;
flex-shrink: 0;
border: 2px solid #009EE0;
box-shadow: 4px 4px 2px 0px rgba(0, 224, 143, 0.10);  
}

.serie{
visibility: visible;
}

.serie nav{
margin-top: 3.676vw;
margin-bottom: 2.353vw;
display: flex;
justify-content: center;
}

.serie button{
background-color:#009EE0;
color: white;
width: 8.75vw;
height: 46px;
color: #FFF;
text-align: center;
font-family: "Roboto";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; 
border-radius: 20px;
}

.serie h3{
color: #000;
text-align: center;
font-family: "Roboto";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px;   
}

.poster{
width: 19.118vw;
height: 390.39px;
flex-shrink: 0;    
}

.collection{
margin-left: 3.382vw;
margin-right: 3.382vw;
gap: 0.956vw;
display: flex;
flex-wrap: wrap;
justify-content: space-around;
margin-bottom: 13.897vw;
visibility: visible;
}

.pregunta{
width: 88.235vw;
height: 57px;
flex-shrink: 0;    
color: #091133;
text-align: center;
font-family: "Roboto";
font-size: 36px;
font-style: normal;
font-weight: 500;
line-height: 48px;  
}

.final{
display: flex;
flex-direction: column;
align-items:flex-start;
margin-top: 0px;
}

.conclusion{
display: flex;
}

.gris540{
background-color:#9c9c9c;   
width: 39.706vw;   
height: 20.5px;
margin-top: 0px;
}

.ultima{
margin-left: 17.279vw;
margin-right: 31.25vw;
margin-bottom: 14.706vw;
display: flex;
flex-direction: column;
align-items: center;
}

.ultima form{
margin-top: 0px;
}

.ultima button{
width: 8.235vw;
height: 1.324vw;
padding: 0.735vw;
background-color: #009EE0;
color: #FFF;
font-family: "Montserrat";
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 18px; 
letter-spacing: 0.1px;
display: flex;
align-items: center;
border-radius: 7px;
}

.mapa{
margin: auto 0px 37px 35px;
width: 657px;
}

.direction{
display: flex;
gap: 18.309vw;  
margin-top: 2.721vw;  
margin-right: 3.235vw;
}

.lugares{
gap:1.471vw;
}

.fechas{
width:25.735vw;
height: 57px;
color: #091133;
font-family: "Roboto";
font-size: 36px;
font-style: normal;
font-weight: 300;
line-height: 48px;
}

address{
margin-top:1.103vw;
margin-bottom: 2.206vw;
}

.patrocinio{
width: 88.235vw;
height: 57px;
flex-shrink: 0; 
color: #091133;
text-align: center;
font-family: "Roboto";
font-size: 36px;
font-style: normal;
font-weight: 500;
line-height: 48px;
margin-top: 5.147vw;
}

hr{
 margin-left: 2.574vw;
 margin-right: 2.574vw;
}

.uno{
display: flex;
justify-content: center;
margin-bottom: 2.206vw;
}

.dos{
display: flex;
justify-content: center;  
gap: 1.471vw;
margin-bottom: 2.206vw;
}

.tres{
display: flex;
justify-content: space-around;
gap: 2.942vw;
margin-right: 3.529vw;
margin-left: 3.529vw;
}